# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE files
.idea

# outputs
out/

# temporary files
temp/

# byte-compiled
__pycache__/

# installer logs
pip-log.txt

# misc
**/.DS_Store
