[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openpyxl = "*"
bs4 = "*"
getresponse = "*"
pandas = "*"
as = "*"
pd = "*"

[dev-packages]

[requires]
python_version = "3.9"
